*{ margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'Josefin Sans', sans-serif;}

#gallery{
    position: relative;
    padding: 2rem;
}
#gallery .gallery-container{
    position: relative;
    padding: 0 15px;
    width: 1180px;
    margin: 0 auto;
}
#gallery h1{
    color: #434343;
    font-size: 48px;
    margin-bottom: 2rem;
    text-align: center;
}
#gallery .gallery-box{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}
#gallery .gallery-box .gallery-item{
    position: relative;
    flex: 2 0 25%;
    padding: 0 15px;
    margin: 0 0 1rem 0;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s all;
}
#gallery .gallery-box .gallery-item img{
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    transition: 0.5s all;
 }
#gallery .gallery-box .gallery-item:hover img{
    transform: scale(1.1);
    transition: 0.5s all;
 }
.modal-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}
.modal-header .btn-close:focus {
    outline: 0;
    box-shadow: none;
}
.modal-header {
    justify-content: center;
    border:0;
}
.modal.show .modal-dialog {
    width: 30%;
}

@media only screen and (max-width:767px){
    #gallery .gallery-container{
        width: 100%;
    }
    #gallery h1 {
        font-size: 35px;
    }
    #gallery .gallery-box .gallery-item {
        flex: 1 0 50%;
    }
    .modal.show .modal-dialog {
        width: 95%;
    }
}